<!DOCTYPE html>
<html>
  <head>
    <title>Bracket for {{ name }} ({{ rank }})</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <table id="rankings" class="centered">
      <tr>
        <th><abbr title="Rank">Rk</abbr></th>
        <th>Name</th>
        <th><abbr title="Round 1 (First Four)">R1</abbr></th>
        <th><abbr title="Round 2">R2</abbr></th>
        <th><abbr title="Round 3">R3</abbr></th>
        <th><abbr title="Sweet Sixteen">SS</abbr></th>
        <th><abbr title="Elite Eight">EE</abbr></th>
        <th><abbr title="Final Four">FF</abbr></th>
        <th><abbr title="Championship Game">FIN</abbr></th>
        <th>Total</th>
        <th><abbr title="Points Possible">PP</abbr></th>
      </tr>
      <tr>
        <td>{{ rank }}</td>
        <td><a href="{{ name }}.html">{{ name }}</a></td>
        {% for score in scores %}
        <td>{{ score }}</td>
        {% endfor %}
        <td>{{ scores|sum }}</td>
        <td>{{ pointsp }}</td>
      </tr>
    </table>
{% include "bracketview.html" with context %}
  </body>
</html>
{# vim: set ts=2 sw=2 sta et syntax=jinja: #}
