<!DOCTYPE html>
<html>
  <head>
    <title>Bracket pool rankings</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Bracket pool rankings</h1>
    <p>Click a name to view bracket</p>
    <table id="rankings">
      <tr>
        <th><abbr title="Rank">Rk</abbr></th>
        <th>Name</th>
        <th><abbr title="Round 1 (First Four)">R1</abbr> ({{ roundscores[0] }})</th>
        <th><abbr title="Round 2">R2</abbr> ({{ roundscores[1] }})</th>
        <th><abbr title="Round 3">R3</abbr> ({{ roundscores[2] }})</th>
        <th><abbr title="Sweet Sixteen">SS</abbr> ({{ roundscores[3] }})</th>
        <th><abbr title="Elite Eight">EE</abbr> ({{ roundscores[4] }})</th>
        <th><abbr title="Final Four">FF</abbr> ({{ roundscores[5] }})</th>
        <th><abbr title="Championship Game">FIN</abbr> ({{ roundscores[6] }})</th>
        <th>Total</th>
        <th><abbr title="Points Possible">PP</abbr></th>
      </tr>
      {% for row in ranks %}
      <tr>
        <td>{{ row[1] }}</td>
        <td><a href="{{ row[0] }}.html">{{ row[0] }}</a></td>
        {% for score in scores[row[0]] %}
        <td>{{ score }}</td>
        {% endfor %}
        <td>{{ scores[row[0]]|sum }}</td>
        <td>{{ pointsp[row[0]] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
{# vim: set ts=2 sw=2 sta et syntax=jinja: #}
